@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #ffffff;
}

main {
  background: #e6e6e6;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: rgb(255, 64, 64);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.splatter {
  user-select: none;
}
